@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Nunito&display=swap');

h1 {
	font-family: 'Mukta';
}

ul, 
h2,
figcaption,
p {
	font-family: 'Nunito';
}

a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

a:visited {
	color: rgb(0, 0, 0);
}

a:hover {
	color: rgb(150, 210, 148);
	transition-property: color;
	transition-duration: 1s;
	transition-delay: 200ms;
}

